<div class="page-container">
  <h1>Atualização em lote</h1>

  <form [formGroup]="updateBatchForm" (ngSubmit)="onSubmit()">

    <div formArrayName="users">
      <div *ngFor="let group of userGroups; let i = index" [formGroupName]="i" class="user-block">
        <h3>Usuário {{ i + 1 }}</h3>

        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" maxlength="11" />
          <mat-error *ngIf="userForm.get('cpf')?.hasError('required')">
            Obrigatório
          </mat-error>
          <mat-error *ngIf="userForm.get('cpf')?.hasError('onlyNumbers')">
            CPF deve conter apenas números
          </mat-error>
          <mat-error *ngIf="userForm.get('cpf')?.hasError('invalidLength')">
            CPF deve ter exatamente 11 dígitos
          </mat-error>
          <mat-error *ngIf="userForm.get('cpf')?.hasError('invalidCpf')">
            CPF inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Novo nome</mat-label>
          <input matInput formControlName="name"/>
        </mat-form-field>

        <div class="file-upload">
          <button mat-stroked-button type="button" (click)="fileInput.click()">
            Aenxar nova foto (Opcional)
          </button>
          <input #fileInput type="file" accept="image/*" (change)="onFileSelected(i, $event)" hidden/>
          <span *ngIf="selectedFiles[i]">{{ selectedFiles[i]?.name }}</span>
        </div>

        <button mat-stroked-button color="warn" type="button" (click)="removeUser(i)" *ngIf="userGroups.length > 1">
          Remover
        </button>
      </div>
    </div>

    <button mat-stroked-button type="button" (click)="addUser()">+ Adicionar usuário</button>

    <p *ngIf="error()">{{ error() }}</p>

    <button mat-raised-button color="primary" type="submit" [disabled]="submitting()">
      {{ submitting() ? 'Atualizando...' : 'Atualizar todos' }}
    </button>

  </form>

  <div *ngIf="results()">
    <h2>Resultado</h2>
    <ul>
      <li *ngFor="let result of results()">
        <span *ngIf="result.success">Usuário {{ result.name }}, CPF {{ result.cpf }} atualizado com sucesso</span>
        <span *ngIf="!result.success">Erro ao atualizar usuário {{ result.name }}, CPF {{ result.cpf }}
          : {{ result.error }}</span>
      </li>
    </ul>
  </div>
</div>
