<div class="page-container">
  <h1>Cadastrar usuário</h1>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name"/>
      <mat-error *ngIf="userForm.get('name')?.hasError('required')">
        Obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" maxlength="11" />
      <mat-error *ngIf="userForm.get('cpf')?.hasError('required')">
        Obrigatório
      </mat-error>
      <mat-error *ngIf="userForm.get('cpf')?.hasError('onlyNumbers')">
        CPF deve conter apenas números
      </mat-error>
      <mat-error *ngIf="userForm.get('cpf')?.hasError('invalidLength')">
        CPF deve ter exatamente 11 dígitos
      </mat-error>
      <mat-error *ngIf="userForm.get('cpf')?.hasError('invalidCpf')">
        CPF inválido
      </mat-error>
    </mat-form-field>

    <div class="file-upload">
      <button mat-stroked-button type="button" (click)="fileInput.click()">Anexar foto</button>
      <input #fileInput type="file" accept="image/*" (change)="onPictureSelected($event)" hidden/>
      <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
    </div>
    <p *ngIf="error()">{{ error() }}</p>

    <button mat-raised-button type="submit" [disabled]="submitting()">
      {{ submitting() ? 'Cadastrando...' : 'Cadastrar' }}
    </button>

  </form>
</div>
